<h1>Pong Alert</h1>

<p>
<strong><%= @check.name %></strong> is up again at <%= @ultimate.created_at %><% unless @penultimate.nil? %>
, after <%= distance_of_time_in_words(@penultimate.created_at, @ultimate.created_at) %> of downtime
<% end %>.
</p>
