<div class="column">
  <h1 class="ui header">Editing Check</h1>
  <div class="ui divider"></div>

  <div class="row ui two column stackable grid">
    <div class="column">
      <%= render 'form', check: @check, submit_label: 'Update' %>
    </div>
  </div>
</div>
